APP_PORT=9898
APP_URL=http://localhost:9898
APP_FRONTEND_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=aryadhira
DB_PASSWORD=password
DB_NAME=evalora

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

APP_SECRET=

MAX_IDLE_CONNECTIONS=10
MAX_OPEN_CONNECTIONS=100

AUTO_MIGRATE=true

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RESEND_FROM_EMAIL=noreply@yourdomain.com
RESEND_API_KEY=